@model IEnumerable<Chat>

    <div class="chat-body">
        @foreach (var item in Model)
        {
            <a class="room-button" asp-action="JoinRoom" asp-controller="Home" asp-route-id="@item.Id">
                <strong>
                    @item.Name
                </strong>
            </a>
        }
    </div>